<?xml version="1.0"?>
<module name="RMIT_LCD_IPaddress">
    <type>Element</type>
    <classification>Driver</classification>

    <description>
        <short>RMIT_LCD_IPaddress</short>
        <abstract>
            <![CDATA[Writes hostname of node and IP address to LCD module connected to I2C1]]>
        </abstract>
    </description>

    <supports>
        <availability>
            <cpu isa="arm">
                <byteOrder>le</byteOrder>
                <byteOrder>le.v7</byteOrder>
            </cpu>
        </availability>
    </supports>

    <source available="false">
        <location type="">.</location>
    </source>
    <GroupOwner>hw</GroupOwner>

    <contents>
        <component id="RMIT_LCD_IPaddress" generated="true">
            <location basedir="{cpu}/{endian}"
                 runtime="true">RMIT_LCD_IPaddress</location>
        </component>
    </contents>

    <requires>
	<part build="true" location="lib/drvr" />
    </requires>

</module>
